.animate {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.animate.animate-infinite {
  animation-iteration-count: infinite;
}

@keyframes floatingDown {
  0%,
  50%,
  100% {
    transform: translateY(20px);
  }
  25%,
  75% {
    transform: translateY(-20px);
  }
}

.floatingDown {
  animation-name: floatingDown;
}

@keyframes floatingUp {
  0%,
  50%,
  100% {
    transform: translateY(-20px);
  }
  25%,
  75% {
    transform: translateY(20px);
  }
}

.floatingUp {
  animation-name: floatingUp;
}
